/*
   server-side-angular-way.component.css
*/
.no-data-available {
    text-align: center;
  }
  
  /*
     src/styles.css (i.e. your global style)
  */
  .dataTables_empty {
    display: none;
  }

  ::ng-deep .odd{ display: none }

  th {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
  }
   
  th:first-child {
    border-left: 1px solid #dddddd;
  }


.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 8px 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }